---
---

@import "{{ site.theme }}";
header {
  width:200px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}
section {
  width:600px;
  float:right;
  padding-bottom:50px;
}
footer {
  width:200px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}
